.profile {
  height: 60vh;
}
.headline {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 28px;
}
.exitBtn {
  color: #8d8488;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  border: none;
  background-color: #fff;
  margin-top: 32px;
  cursor: pointer;
  padding: 11px 20px;
  border-radius: 22px;
  background: #f5f5f5;
}
