.alert {
  position: fixed;
  top: 15%;

  padding: 20px;
  background-color: rgb(171, 255, 171);
  border-radius: 20px;
  width: 300px;
  animation: slide-left 4s ease-in-out both;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.exitBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@keyframes slide-left {
  0% {
    right: -300px;
  }
  50% {
    right: 60px;
  }
  75% {
    right: 60px;
  }
  100% {
    right: -300px;
  }
}
